In [3]:
import main
import pandas as pd

In [8]:
from main import UserPredictor
model = UserPredictor()
train_users = pd.read_csv("data/train_users.csv")
train_logs = pd.read_csv("data/train_logs.csv")
train_y = pd.read_csv("data/train_y.csv")
model.fit(train_users, train_logs, train_y)

AVG: 0.8009000000000001, STD: 0.005494037171738503

In [9]:
# If y_pred[n] is True,
# that means you predict the user at index n will click the email;
# otherwise, you're predicting they will not.

In [10]:
test_users = pd.read_csv("data/test1_users.csv")
test_logs = pd.read_csv("data/test1_logs.csv")
y_pred = model.predict(test_users, test_logs)

In [11]:
dic_id = train_logs.groupby("user_id").sum("seconds").to_dict()["seconds"]
for i in train_users["user_id"]:
    if i not in dic_id:
        dic_id[i] = 0
dic_id = dict(sorted(dic_id.items()

SyntaxError: incomplete input (852396515.py, line 5)

In [13]:
a = train_users

In [14]:
a

,user_id,names,age,past_purchase_amt,badge,total seconds,id num
0,0,Adriana Mcclure,26,39.344704,gold,327,4
1,1,Stacy Gilmore,67,15.840151,silver,78,1
2,2,Joanna Walsh,50,1099.420085,bronze,432,4
3,3,Eduardo Moore,65,5.880239,bronze,0,0
4,4,Angela Freeman,88,1312.296847,bronze,0,0
...,...,...,...,...,...,...,...
29995,29995,William Lewis,87,108.914205,bronze,563,4
29996,29996,James Miranda,49,291.969273,gold,532,6
29997,29997,Carlos Davis,46,2.609698,bronze,0,0
29998,29998,Makayla Smith,23,164.885894,bronze,0,0
29999,29999,Tina Anderson,51,161.905284,gold,467,5